In [1]:
import numpy as np
import pandas as pd

### 데이터 개수 세기

In [2]:
s1=pd.Series(range(10))
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [3]:
s1.count()

10

In [4]:
# nan은 전체 개수에서 제외된다.
s1[3] = np.nan
s1

0    0.0
1    1.0
2    2.0
3    NaN
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [5]:
s1.count()

9

In [ ]:
# 데이터프레임인 경우 각 특성의 행의 개수를 계산해서 반환한다.
# 이 때, nan은 제외한다. 특성에 결측치가 있는지 확인하는 용도로 사용한다.
df1=pd.DataFrame(np.arange(20).reshape(4,5))
df1.iloc[2,3]=np.nan
df1.count()

### 카테고리 값 세기

In [30]:
s2=pd.Series(np.random.randint(1,46,1000))
# s2.value_counts()
s2.value_counts().head(6)

43    32
35    32
12    31
23    30
21    30
16    29
dtype: int64

In [33]:
df1[3].value_counts()
# nan은 제외한다

18.0    1
8.0     1
3.0     1
Name: 3, dtype: int64

In [38]:
df2 = pd.DataFrame(np.random.randint(10,size=(4,8)))
df2

   0  1  2  3  4  5  6  7
0  8  2  9  7  9  1  0  2
1  6  8  6  5  4  9  1  6
2  9  3  4  4  3  1  1  9
3  4  3  9  4  0  4  0  2

In [39]:
# 행의 합계
df2.sum(axis=1)

0    38
1    45
2    34
3    26
dtype: int64

In [40]:
# 열의 합계
df2.sum(axis=0)

0    27
1    16
2    28
3    20
4    16
5    15
6     2
7    19
dtype: int64