In [1]:
import pandas as pd

In [2]:
dict1 = {
    '2015' : [9904312, 3448737, 2890451, 2466052],
    '2010' : [9631434, 4134153, 1351353, 3256362],
    '2005' : [8249424, 1341153, 5462523, 5151353],
    '2000' : [9158513, 1513326, 3563623, 4632352],
    '지역' : ['수도권','경상권','수도권','경상권'],
    '증가율' : [0.0234, 0.0384, 0.3423, 0.3423]
}

option1=['지역','2000','2005','2010','2015','증가율']
option2 = ['서울','부산','인천','대구']

df1 = pd.DataFrame(dict1,columns=option1,index=option2)
df1

     지역     2000     2005     2010     2015     증가율
서울  수도권  9158513  8249424  9631434  9904312  0.0234
부산  경상권  1513326  1341153  4134153  3448737  0.0384
인천  수도권  3563623  5462523  1351353  2890451  0.3423
대구  경상권  4632352  5151353  3256362  2466052  0.3423

### 데이터 접근

In [3]:
df1['지역']

서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [4]:
df1['2015']

서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 2015, dtype: int64

### 데이터 셋팅

In [5]:
df1['2000'] = 1000
df1

     지역  2000     2005     2010     2015     증가율
서울  수도권  1000  8249424  9631434  9904312  0.0234
부산  경상권  1000  1341153  4134153  3448737  0.0384
인천  수도권  1000  5462523  1351353  2890451  0.3423
대구  경상권  1000  5151353  3256362  2466052  0.3423

In [6]:
df1['2005'] = df1['2005'] + 1000
df1

     지역  2000     2005     2010     2015     증가율
서울  수도권  1000  8250424  9631434  9904312  0.0234
부산  경상권  1000  1342153  4134153  3448737  0.0384
인천  수도권  1000  5463523  1351353  2890451  0.3423
대구  경상권  1000  5152353  3256362  2466052  0.3423

In [7]:
# 존재하지 않는 특성의 이름을 통해 값을 넣어주면
# 특성이 추가된다.
df1['2010 - 2015 증가수'] = df1['2015'] - df1['2010']
df1

     지역  2000     2005     2010     2015     증가율  2010 - 2015 증가수
서울  수도권  1000  8250424  9631434  9904312  0.0234           272878
부산  경상권  1000  1342153  4134153  3448737  0.0384          -685416
인천  수도권  1000  5463523  1351353  2890451  0.3423          1539098
대구  경상권  1000  5152353  3256362  2466052  0.3423          -790310

In [8]:
# 특성 제거
del df1['2000']
df1

     지역     2005     2010     2015     증가율  2010 - 2015 증가수
서울  수도권  8250424  9631434  9904312  0.0234           272878
부산  경상권  1342153  4134153  3448737  0.0384          -685416
인천  수도권  5463523  1351353  2890451  0.3423          1539098
대구  경상권  5152353  3256362  2466052  0.3423          -790310

### 인덱싱

In [9]:
dict1 = {
    '2015' : [9904312, 3448737, 2890451, 2466052],
    '2010' : [9631434, 4134153, 1351353, 3256362],
    '2005' : [8249424, 1341153, 5462523, 5151353],
    '2000' : [9158513, 1513326, 3563623, 4632352],
    '지역' : ['수도권','경상권','수도권','경상권'],
    '증가율' : [0.0234, 0.0384, 0.3423, 0.3423]
}

option1=['지역','2000','2005','2010','2015','증가율']
option2 = ['서울','부산','인천','대구']

df1 = pd.DataFrame(dict1,columns=option1,index=option2)
df1

     지역     2000     2005     2010     2015     증가율
서울  수도권  9158513  8249424  9631434  9904312  0.0234
부산  경상권  1513326  1341153  4134153  3448737  0.0384
인천  수도권  3563623  5462523  1351353  2890451  0.3423
대구  경상권  4632352  5151353  3256362  2466052  0.3423

In [10]:
# 시리즈 하나를 가져온다.
df1['2000']

서울    9158513
부산    1513326
인천    3563623
대구    4632352
Name: 2000, dtype: int64

In [12]:
# 여러 특성을 리스트로 담아 지정하면 그 특성들이 있는
# 데이터프레임을 생성해서 반환한다.
df1[['2000','2005','2015']]

       2000     2005     2015
서울  9158513  8249424  9904312
부산  1513326  1341153  3448737
인천  3563623  5462523  2890451
대구  4632352  5151353  2466052

In [13]:
df1[['2000']]

       2000
서울  9158513
부산  1513326
인천  3563623
대구  4632352

In [15]:
# 특성의 이름이 문자열로 되어있는 경우 인덱스 번호를 사용하면 오류가 발생한다.
# df1[0]

In [16]:
import numpy as np

In [17]:
np.arange(12)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [18]:
df2=pd.DataFrame(np.arange(12),reshape(3,4))
df2

NameError: name 'reshape' is not defined