numpy 처럼 쉼표(,)를 이용해 인덱싱할 수 있는 함수들

- loc : 특성값 기반의 2차원 인덱싱

- iloc : 순서를 나타내는 정수 기반의 2차원 인덱싱

In [3]:
import pandas as pd
import numpy as np

In [5]:
option1 = ['a1','a2','a3']
option2 = ['b1','b2','b3','b4']

df1 = pd.DataFrame(np.arange(10,22).reshape(3,4),
                  index=option1, columns=option2)
df1

    b1  b2  b3  b4
a1  10  11  12  13
a2  14  15  16  17
a3  18  19  20  21

In [9]:
# 열 하나의 데이터를 시리즈로 가져온다.
# df1['a1'] # 오류
df1.loc['a1']

b1    10
b2    11
b3    12
b4    13
Name: a1, dtype: int32

In [11]:
# a1 열 ~ a2 열
# df1['a1':'a2']
df1.loc['a1':'a2']

    b1  b2  b3  b4
a1  10  11  12  13
a2  14  15  16  17

In [13]:
# 특정 열만 가져온다.
# df1[['a1', 'a3']]
df1.loc[['a1','a3']]

    b1  b2  b3  b4
a1  10  11  12  13
a3  18  19  20  21

In [14]:
df1['b1'] > 15

a1    False
a2    False
a3     True
Name: b1, dtype: bool

In [15]:
df1.loc[df1['b1']>15]

    b1  b2  b3  b4
a3  18  19  20  21

In [16]:
df1.loc['a2','b2']

15

In [17]:
# a1 ~ a2행의 b2 값을 가져온다.
df1.loc['a1':'a2','b2']

a1    11
a2    15
Name: b2, dtype: int32

In [18]:
# a1 ~ a2 행의 b1 ~ b3 값을 가져온다.
df1.loc['a1':'a2','b1':'b3']

    b1  b2  b3
a1  10  11  12
a2  14  15  16

In [19]:
# a1, a3 행의 b1, b3 값을 가져온다.
df1.loc[['a1','a3'],['b1','b3']]

    b1  b3
a1  10  12
a3  18  20

In [20]:
df1[['b1','b3']]

    b1  b3
a1  10  12
a2  14  16
a3  18  20

In [21]:
df1.loc[['a1','a3']]

    b1  b2  b3  b4
a1  10  11  12  13
a3  18  19  20  21

### iloc

loc가 특성이나 행의 이름을 설정하고 iloc는 인덱스 번호를 설정한다.

특성의 이름이나 행의 이름이 문자열로 되어 있어도 가능하다.